on:
  workflow_call:
    inputs:
      working-directory:
        type: string
        description: Directory containing Dockerfile
        default: ""

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Build and export to Docker local cache
      uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
      env:
        DOCKER_BUILD_RECORD_UPLOAD: false
      with:
        context: ./${{ inputs.working-directory }}
        # Need load and tags so we can test it below
        load: true
        tags: tag_for_testing

    - name: Test cli works in cached runtime image
      run: docker run --rm tag_for_testing

    - name: Bump version and push tag
      id: tag_version
      uses: mathieudutour/github-tag-action@v6.2
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        dry_run: ${{ github.event_name == 'pull_request'}}
        tag_prefix: ${{ inputs.working-directory }}


    - name: Generate Image Name
      run: echo IMAGE_REPOSITORY=ghcr.io/$(echo "${{ github.repository }}-${{ inputs.working-directory }}" | tr '[:upper:]' '[:lower:]' | tr '[_]' '[\-]') >> $GITHUB_ENV

    - name: Extract metadata (tags, labels) for Docker
      id: meta
      uses: docker/metadata-action@9ec57ed1fcdbf14dcef7dfbe97b2010124a938b7
      with:
        images: ${{ env.IMAGE_REPOSITORY }}
        tags: |
          type=raw,value=${{ steps.tag_version.outputs.new_version }}
          type=raw,value=latest

    - name: Log in to GitHub Docker Registry
      if: github.event_name != 'pull_request'
      uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772 # v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Push cached image to container registry
      if: github.event_name != 'pull_request'
      uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
      env:
        DOCKER_BUILD_RECORD_UPLOAD: false
      # This does not build the image again, it will find the image in the
      # Docker cache and publish it
      with:
          context: ./${{ inputs.working-directory }}/
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
