on:
  workflow_call:
    inputs:
      working-directory:
        type: string
        description: Directory containing Dockerfile
        default: ""

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Bump version and push tag
      id: tag_version
      uses: mathieudutour/github-tag-action@v6.2
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        dry_run: true
        tag_prefix: ${{ inputs.python-version }}/v
    - name: echo tag
      working-directory: ./${{ inputs.python-version }}
      run: |
        echo $PWD
        echo ${{ steps.tag_version.outputs.new_tag }}
        echo ${{ steps.tag_version.outputs.new_version }}
