on:
  workflow_call:
    inputs:
      working-directory:
        type: string
        description: Directory containing Dockerfile
        default: ""

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Build and export to Docker local cache
      uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
      env:
        DOCKER_BUILD_RECORD_UPLOAD: false
      with:
        context: ./${{ inputs.working-directory }}
        # Need load and tags so we can test it below
        load: true
        tags: tag_for_testing

    - name: Test cli works in cached runtime image
      run: docker run --rm tag_for_testing

    - name: Bump version and push tag
      id: tag_version
      uses: mathieudutour/github-tag-action@v6.2
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        dry_run: true
        tag_prefix: ${{ inputs.working-directory }}/v

    - name: echo tag
      working-directory: ./${{ inputs.working-directory }}
      run: |
        echo $PWD
        echo ${{ steps.tag_version.outputs.new_tag }}
        echo ${{ steps.tag_version.outputs.new_version }}
